@charset "utf-8";
body {
  background-color: #F6F6F6;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
.container {
  padding-top: 15px;
  padding-bottom: 17px;
  width: 1140px;
}
.container .wjx-content .wjx-logo {
  float: left;
}
.container .wjx-content .wjx-search {
  float: right;
}
.container .wjx-content .wjx-search input {
  line-height: 34px;
  left: 9px;
  top: 0;
  text-align: initial;
  white-space: nowrap;
  right: 9px;
  height: 35px;
  width: 402.36px;
  padding: 0 3% 0 3%;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #ccc;
  font-weight: 400;
  font-size: 1.2em;
}
.wjx-nav {
  width: 100%;
  height: 34px;
  background-color: #96B97D;
}
.wjx-nav .container {
  padding: 0;
}
.wjx-nav .container .nav {
  width: 1140px;
  position: relative;
}
.wjx-nav .container .nav #index-nav {
  list-style: none;
}
.wjx-nav .container .nav #index-nav .wjx-sy {
  display: none;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  left: 4.5%;
  top: 84%;
}
.wjx-nav .container .nav #index-nav .wjx-bj {
  display: none;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  left: 10.5%;
  top: 84%;
}
.wjx-nav .container .nav #index-nav .wjx-gj {
  display: none;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  left: 18.5%;
  top: 84%;
}
.wjx-nav .container .nav #index-nav .wjx-ck {
  display: none;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  left: 26%;
  top: 84%;
}
.wjx-nav .container .nav #index-nav .wjx-cy {
  display: none;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  left: 33.5%;
  top: 84%;
}
.wjx-nav .container .nav #index-nav .wjx-en {
  display: none;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  left: 38.5%;
  top: 84%;
}
.wjx-nav .container .nav #index-nav li {
  float: left;
}
.wjx-nav .container .nav #index-nav li a {
  line-height: 34px;
  width: 52px;
  height: 35px;
  padding-left: 30px;
  color: white;
}
.wjx-nav .container .nav #index-nav li .current {
  padding: 0;
}
.wjx-nav .container .nav #index-nav .entera .btn {
  background-color: #96B97D;
  border: none;
}
.wjx-nav .container .nav #index-nav .entera .modal-content {
  width: 500px;
  overflow: hidden;
  margin: 0 auto;
}
.wjx-nav .container .nav #index-nav .entera .modal-content ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
  height: 70px;
}
.wjx-nav .container .nav #index-nav .entera .modal-content ul li {
  width: 50%;
  height: 70px;
  float: left;
}
.wjx-nav .container .nav #index-nav .entera .modal-content ul li .zh {
  text-decoration: none;
  background-color: white;
  display: block;
  width: 100%;
  height: 70px;
  color: #333434;
  text-align: center;
  line-height: 70px;
}
.wjx-nav .container .nav #index-nav .entera .modal-content ul li .zhuc {
  background-color: #E8F1E2;
  color: #9FBE8A;
  height: 70px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 70px;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den {
  width: 100%;
  overflow: hidden;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den .users {
  margin-top: 20px;
  width: 80%;
  height: 48px;
  margin-left: 25px;
  border: 1px solid #D2D8D8;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den .users span {
  background-color: white;
  border: none;
  color: #bbb;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den .users input {
  border-style: none;
  width: 85%;
  height: 46px;
  margin-left: 20px;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den .users input:focus {
  outline: none;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den .pass {
  margin-top: 20px;
  width: 80%;
  height: 48px;
  margin-left: 25px;
  border: 1px solid #D2D8D8;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den .pass span {
  background-color: white;
  border: none;
  color: #bbb;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den .pass input {
  border-style: none;
  width: 85%;
  height: 46px;
  margin-left: 20px;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den .pass input:focus {
  outline: none;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den .fieldset {
  margin-top: 20px;
  width: 80%;
  height: 48px;
  margin-left: 25px;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den .fieldset input {
  margin-left: 10px;
  float: left;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den .fieldset label {
  margin-left: 5px;
  float: left;
  font-weight: 400;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den .fieldset .wang {
  float: left;
  width: 105px;
  height: 35px;
  line-height: 35px;
  display: block;
  color: #64854c;
  margin-left: 45%;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den .en {
  margin-top: 20px;
  width: 80%;
  height: 48px;
  background-color: #96B97D;
  margin: 0 auto;
  margin-bottom: 10px;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .den .en .lu {
  text-align: centr;
  line-height: 48px;
  margin-left: 38%;
  font-weight: 700;
  font-size: 14px;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce {
  width: 100%;
  overflow: hidden;
  display: none;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .yaoqing {
  margin-top: 20px;
  width: 80%;
  height: 48px;
  margin-left: 25px;
  border: 1px solid #D2D8D8;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .yaoqing span {
  background-color: white;
  border: none;
  color: #bbb;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .yaoqing input {
  border-style: none;
  width: 85%;
  height: 46px;
  margin-left: 20px;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .yaoqing input:focus {
  outline: none;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .userse {
  margin-top: 20px;
  width: 80%;
  height: 48px;
  margin-left: 25px;
  border: 1px solid #D2D8D8;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .userse span {
  background-color: white;
  border: none;
  color: #bbb;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .userse input {
  border-style: none;
  width: 85%;
  height: 46px;
  margin-left: 20px;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .userse input:focus {
  outline: none;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .email {
  margin-top: 20px;
  width: 80%;
  height: 48px;
  margin-left: 25px;
  border: 1px solid #D2D8D8;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .email span {
  background-color: white;
  border: none;
  color: #bbb;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .email input {
  border-style: none;
  width: 85%;
  height: 46px;
  margin-left: 20px;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .email input:focus {
  outline: none;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .password {
  margin-top: 20px;
  width: 80%;
  height: 48px;
  margin-left: 25px;
  border: 1px solid #D2D8D8;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .password span {
  background-color: white;
  border: none;
  color: #bbb;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .password input {
  border-style: none;
  width: 85%;
  height: 46px;
  margin-left: 20px;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .password input:focus {
  outline: none;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .password-again {
  margin-top: 20px;
  width: 80%;
  height: 48px;
  margin-left: 25px;
  border: 1px solid #D2D8D8;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .password-again span {
  background-color: white;
  border: none;
  color: #bbb;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .password-again input {
  border-style: none;
  width: 85%;
  height: 46px;
  margin-left: 20px;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .password-again input:focus {
  outline: none;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .zc {
  margin-top: 25px;
  margin-left: 50px;
  width: 80%;
  height: 48px;
  background-color: #96B97D;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .zc .zcx {
  text-align: centr;
  line-height: 48px;
  margin-left: 38%;
  font-weight: 700;
  font-size: 14px;
}
.wjx-nav .container .nav #index-nav .entera .modal-content .zhuce .how {
  color: #64854c;
  font-size: 12px;
  margin-left: 25px;
  margin-bottom: 50px;
}
.wjx-xxk {
  width: 100%;
  height: 34px;
  background-color: white;
  display: none;
}
.wjx-xxk .wjx-xl {
  width: 1140px;
  height: 34px;
  font-size: 1.1em;
  margin: 0 auto;
  overflow: hidden;
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.wjx-xxk .wjx-xl ul {
  list-style: none;
}
.wjx-xxk .wjx-xl #wjx-sc {
  height: 34px;
  margin: 0 auto;
  display: none;
}
.wjx-xxk .wjx-xl #wjx-sc .cat-item {
  float: left;
  margin-right: 30px;
  line-height: 34px;
}
.wjx-xxk .wjx-xl #wjx-sc .cat-item a {
  color: black;
}
.wjx-xxk .wjx-xl #wjx-ks {
  height: 34px;
  margin: 0 auto;
  display: none;
}
.wjx-xxk .wjx-xl #wjx-ks .cat-item {
  float: left;
  margin-right: 30px;
  line-height: 34px;
}
.wjx-xxk .wjx-xl #wjx-ks .cat-item a {
  color: black;
}
.content {
  width: 1140px;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid transparent;
}
.content .left {
  width: 16%;
  border: 1px solid transparent;
  float: left;
}
.content .left .tab {
  height: 28px;
  background-color: #F0EFED;
  color: #A4A29B;
  line-height: 28px;
  font-size: 1.2em;
  border: 1px solid #F0EFED;
}
.content .left .tab:hover {
  cursor: pointer;
}
.content .left #cat2,
.content .left #cat4,
.content .left #cat6,
.content .left #cat8,
.content .left #cat10 {
  background-color: #F0EFED;
}
.content .left #cat1,
.content .left #cat2,
.content .left #cat3,
.content .left #cat4,
.content .left #cat5,
.content .left #cat6,
.content .left #cat7,
.content .left #cat8,
.content .left #cat9,
.content .left #cat10:hover {
  cursor: pointer;
}
.content .left .wjxnav-nav {
  height: 40px;
  line-height: 40px;
  border: 1px solid #F0EFED;
  color: #333434;
  font-size: 14px;
}
.content .right {
  width: 83%;
  border: 1px solid transparent;
  background-color: white;
  float: right;
}
.content .right .cate1 {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.content .right .cate1 a {
  float: left;
  text-decoration: none;
}
.content .right .cate1 a.item-top {
  width: 31%;
  margin: 0 8px 10px 0;
  text-align: left;
  height: 95px;
  color: #bbb;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 6px 16px;
}
.content .right .cate1 a.item-top h4 {
  color: #64854c;
  font-size: 16px;
  margin-left: 8;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
  text-align: left;
}
.content .right .cate1 a.item-top img {
  float: left;
  margin-left: 10px;
  margin-right: 4px;
}
.content .right .cate1 a.item-top strong {
  color: #666;
  text-align: left;
  width: 80%;
  font-size: 12px;
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.content .right .cate1 a.item-top:hover {
  background-color: #F3F3F3;
}
.content .right .cate2 {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.content .right .cate2 a {
  float: left;
  text-decoration: none;
}
.content .right .cate2 a.item-top {
  width: 31%;
  margin: 0 8px 10px 0;
  text-align: left;
  height: 95px;
  color: #bbb;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 6px 16px;
}
.content .right .cate2 a.item-top h4 {
  color: #64854c;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 10px;
  line-height: 1.1;
  text-align: left;
}
.content .right .cate2 a.item-top img {
  float: left;
  margin-right: 4px;
  margin-left: 10px;
}
.content .right .cate2 a.item-top strong {
  color: #666;
  text-align: left;
  width: 80%;
  font-size: 12px;
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.content .right .cate2 a.item-top:hover {
  background-color: #F3F3F3;
}
.content .right .cate3 {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.content .right .cate3 a {
  float: left;
  text-decoration: none;
}
.content .right .cate3 a.item-top {
  width: 31%;
  margin: 0 8px 10px 0;
  text-align: left;
  height: 95px;
  color: #bbb;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 6px 16px;
}
.content .right .cate3 a.item-top h4 {
  color: #64854c;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 10px;
  line-height: 1.1;
  text-align: left;
}
.content .right .cate3 a.item-top img {
  float: left;
  margin-right: 4px;
  margin-left: 10px;
}
.content .right .cate3 a.item-top strong {
  color: #666;
  text-align: left;
  width: 80%;
  font-size: 12px;
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.content .right .cate3 a.item-top:hover {
  background-color: #F3F3F3;
}
.content .right .cate4 {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.content .right .cate4 a {
  float: left;
  text-decoration: none;
}
.content .right .cate4 a.item-top {
  width: 31%;
  margin: 0 8px 10px 0;
  text-align: left;
  height: 95px;
  color: #bbb;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 6px 16px;
}
.content .right .cate4 a.item-top h4 {
  color: #64854c;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 10px;
  line-height: 1.1;
  text-align: left;
}
.content .right .cate4 a.item-top img {
  float: left;
  margin-left: 10px;
  margin-right: 4px;
}
.content .right .cate4 a.item-top strong {
  color: #666;
  text-align: left;
  width: 80%;
  font-size: 12px;
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.content .right .cate4 a.item-top:hover {
  background-color: #F3F3F3;
}
.content .right .cate5 {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.content .right .cate5 a {
  float: left;
  text-decoration: none;
}
.content .right .cate5 a.item-top {
  width: 31%;
  margin: 0 8px 10px 0;
  text-align: left;
  height: 95px;
  color: #bbb;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 6px 16px;
}
.content .right .cate5 a.item-top h4 {
  color: #64854c;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 10px;
  line-height: 1.1;
  text-align: left;
}
.content .right .cate5 a.item-top img {
  float: left;
  margin-left: 10px;
  margin-right: 4px;
}
.content .right .cate5 a.item-top strong {
  color: #666;
  text-align: left;
  width: 80%;
  font-size: 12px;
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.content .right .cate5 a.item-top:hover {
  background-color: #F3F3F3;
}
.content .right .cate6 {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.content .right .cate6 a {
  float: left;
  text-decoration: none;
}
.content .right .cate6 a.item-top {
  width: 31%;
  margin: 0 8px 10px 0;
  text-align: left;
  height: 95px;
  color: #bbb;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 6px 16px;
}
.content .right .cate6 a.item-top h4 {
  color: #64854c;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 10px;
  line-height: 1.1;
  text-align: left;
}
.content .right .cate6 a.item-top img {
  float: left;
  margin-left: 10px;
  margin-right: 4px;
}
.content .right .cate6 a.item-top strong {
  color: #666;
  text-align: left;
  width: 80%;
  font-size: 12px;
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.content .right .cate6 a.item-top:hover {
  background-color: #F3F3F3;
}
.content .right .cate7 {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.content .right .cate7 a {
  float: left;
  text-decoration: none;
}
.content .right .cate7 a.item-top {
  width: 31%;
  margin: 0 8px 10px 0;
  text-align: left;
  height: 95px;
  color: #bbb;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 6px 16px;
}
.content .right .cate7 a.item-top h4 {
  color: #64854c;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 10px;
  line-height: 1.1;
  text-align: left;
}
.content .right .cate7 a.item-top img {
  float: left;
  margin-left: 10px;
  margin-right: 4px;
}
.content .right .cate7 a.item-top strong {
  color: #666;
  text-align: left;
  width: 80%;
  font-size: 12px;
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.content .right .cate7 a.item-top:hover {
  background-color: #F3F3F3;
}
.content .right .cate8 {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.content .right .cate8 a {
  float: left;
  text-decoration: none;
}
.content .right .cate8 a.item-top {
  width: 31%;
  margin: 0 8px 10px 0;
  text-align: left;
  height: 95px;
  color: #bbb;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 6px 16px;
}
.content .right .cate8 a.item-top h4 {
  color: #64854c;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 10px;
  line-height: 1.1;
  text-align: left;
}
.content .right .cate8 a.item-top img {
  float: left;
  margin-left: 10px;
  margin-right: 4px;
}
.content .right .cate8 a.item-top strong {
  color: #666;
  text-align: left;
  width: 80%;
  font-size: 12px;
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.content .right .cate8 a.item-top:hover {
  background-color: #F3F3F3;
}
.content .right .cate9 {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.content .right .cate9 a {
  float: left;
  text-decoration: none;
}
.content .right .cate9 a.item-top {
  width: 31%;
  margin: 0 8px 10px 0;
  text-align: left;
  height: 95px;
  color: #bbb;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 6px 16px;
}
.content .right .cate9 a.item-top h4 {
  color: #64854c;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 10px;
  line-height: 1.1;
  text-align: left;
}
.content .right .cate9 a.item-top img {
  float: left;
  margin-left: 10px;
  margin-right: 4px;
}
.content .right .cate9 a.item-top strong {
  color: #666;
  text-align: left;
  width: 80%;
  font-size: 12px;
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.content .right .cate9 a.item-top:hover {
  background-color: #F3F3F3;
}
.content .right .cate10 {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.content .right .cate10 a {
  float: left;
  text-decoration: none;
}
.content .right .cate10 a.item-top {
  width: 31%;
  margin: 0 8px 10px 0;
  text-align: left;
  height: 95px;
  color: #bbb;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 6px 16px;
}
.content .right .cate10 a.item-top h4 {
  color: #64854c;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 10px;
  line-height: 1.1;
  text-align: left;
}
.content .right .cate10 a.item-top img {
  float: left;
  margin-left: 10px;
  margin-right: 4px;
}
.content .right .cate10 a.item-top strong {
  color: #666;
  text-align: left;
  width: 80%;
  font-size: 12px;
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.content .right .cate10 a.item-top:hover {
  background-color: #F3F3F3;
}
.footer {
  width: 100%;
  margin-top: 20px;
}
.footer .runoob-block {
  background: #fff;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 50px;
}
.footer .runoob-block .runoob {
  width: 80%;
  margin: 0 auto;
  min-height: 200px;
}
.footer .runoob-block .runoob dl {
  width: 15%;
  padding-left: 30px;
  color: gray;
  margin: 25px 0;
  float: left;
  border-left: 1px solid #e4e4e4;
  min-height: 175px;
}
.footer .runoob-block .runoob dl dt {
  font-size: 14px;
  color: #666;
  font-weight: 500;
}
.footer .runoob-block .runoob dl dd {
  font-size: 12px;
  margin-top: 10px;
}
.footer .runoob-block .runoob dl dd a {
  color: gray;
  padding-left: 5px;
}
.footer .runoob-block .runoob .search-share {
  width: 16%;
  float: left;
  min-height: 226px;
  border-left: 1px solid #e4e4e4;
  padding: 20px 0 0 40px;
}
.footer .runoob-block .runoob .search-share strong {
  font-size: 18px;
  color: #666;
  margin-bottom: 8px;
}
.footer .runoob-block .runoob .search-share .share {
  margin-top: 15px;
}
.footer .runoob-block .runoob .search-share .share img {
  height: auto;
  max-width: 100%;
}
.footer .copyright {
  font-size: 12px;
  color: #999;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
.footer .copyright strong {
  font-weight: bold;
}
.footer .copyright strong a {
  color: #999;
}
.fixed-btn {
  position: fixed;
  right: 1%;
  bottom: 5%;
  width: 40px;
  border: 1px solid #eee;
  background-color: white;
  font-size: 24px;
  z-index: 1040;
}
.fixed-btn a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #64854c;
  text-decoration: none;
}
.fixed-btn a i {
  vertical-align: middle;
}
.fixed-btn .go-top {
  border-bottom: 1px solid #eee;
}
.fixed-btn .writer {
  background-color: #96b97d;
  font-size: 18px;
  color: white;
}
.fixed-btn .hove {
  border: 1px solid gray;
  background-color: white;
  position: absolute;
  left: -148px;
  top: -35px;
  border-radius: 5px;
  padding: 10px;
}
.fixed-btn .hove h4 {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
